@page
@model AccountsModel
<h6>Select Account Type: @Model.selectedValue</h6>

<table class="table">
        <thead>
                <tr>
                        <th></th>
                        <th>Account Number</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Account Type</th>
                </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.ClientAccountVM)
                {
                        <tr>
                                <td>
                                        <a class="btn btn-secondary" asp-route-accountnum="@item.AccountNum"
                                                asp-page="/Accounts/Detail">
                                                details
                                        </a>

                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.AccountNum)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.ClientLastName)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.ClientFirstName)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.AccountType)
                                </td>
                        </tr>
                }
        </tbody>
</table>